
<div class="well">
<p style="margin-left:100px; margin-right:100px;font-size:30px;">هذا البرنامج هو احد برامج مؤسسة بناء الانسان و التنميه و يهدف الى الارتقاء بمستوى الخدمه التى يحصل عليها المواطن من اعمال تركيبات اوصيانه منزليه لاعمال السباكه والكهرباء من خلال رفع الكفاءه و تأصيل عمل الحرفيين . بدايتا بتدريب تقنى من خلال مجلس التدريب الصناعى التابع لوزارة الصناعه يتبعه تدريب على القدره الاداريه و مهارات التعامل مع العملاء من خلال مؤسسة البناء الانسانى و التنميه ثم نقوم بتحديث هذا الموقع طبقا لاداء العامل من خلال استماره يقوم تقديمها العامل للعميل عند انجاز العمل لتقييم العمل و يعيد العامل هذه الستماره للمؤسسه لتقييم جودة اداء العامل على هذا الموقع لضمان استمراريه مستوى الجوده.
</p>
</div>
