<div class="container">
<h2>للتواصل</h2>
<div class="well">
	<h2> مؤسسة البناء الانساني و التنمية </h2>
	<h4>المشهره رقم 4011 لسنة 2011</h4><br>
	<li><h4>العنوان: </h4></li>
	<h4>عمارة (ز) الدور الخامس - شقة رقم 6- سيتي مول علي الدين - الحي السابع - مدينة 6 أكتوبر</h4><br>
	<h4>لاي استفسار يرجى الاتصال بالارقام التاليه  </h4>
	<li><h4> تليفون : </h4></li>
	<h4>01279221709</h4>
	<h4>01227334410</h4>
	<li><h4>فاكس : </h4></li>
	<h4> +2 02 39121344</h4>
	<li><h4>البريدالالكتروني :</h4></li>
	<h4>info@hfegypt.org</h4>
	<h4>thehumanfoundation@yahoo.com</h4>
</div>
</div>



 
