
 <div style="text-align:center" >
 	<body>
 	<div class="row">
 		<div class="col-md-2">
 			</div>
 		<div class="col-sm-4 col-offset-4">

 			<a href="www.google.com"><%= image_tag "bulb1.png", :style => "width:200px;height:300px"%></a>

 			<h3> اعمال كهرباء </h3>
		</div>
		<div class="col-md-4">
			</div>
		<div class="col-sm-4 col-offset-4">
			<%= image_tag "bristol-plumbing-one.png", :style => "width:250px;height:300px"%>

			<h3>  اعمال سباكة </h3>
		</div>
 </div>
	
</body>




</div>