<h1>برنامج الحرفي المصري </h1>
 <div style="text-align:center" >
 	<body>
 	<div class="row">
 		<div class="col-sm-6 col-offset-3">

 			<%= image_tag "mmm.png", :style => "width:300px;height:300px"%>

 			<p> اعمال كهرباء </p>
		</div>
		<div class="col-sm-6 col-offset-3">
			<%= image_tag "fff.png", :style => "width:300px;height:300px"%>

			<p>  اعمال سباكة </p>
		</div>
 </div>
	
</body>




</div>