<div class="container">
<h2>خطوات المشروع</h2>
<div class="well">

<h4>  
<li>         عمل تدريب للعمال على المستوى التقنيه الحرفيه من خلال مجلس التدريب الصناعى التابع لوزارة الصناعه.
</li><br>
<li> عمل تدريب من خلال المؤسسه على القدره الاداريه و مهارات التعامل مع العملاء.
</li><br>
<li>استخراج شهاده من المؤسسه ان العامل قام بالتدريب من قبل المؤسسه على القدرات الاداريه تدرج مع الشهاده التى سيحصل عليها العامل من مجلس التدريب الصناعى (هذه شهاده للعميل و ليست شهادة ضمان للعميل فالمؤسسه ليست شركه مسئوله عن اداء العامل و لا تجنى ربح منه و لكن جهه تدريب و تقييم).
</li><br>
<li>  بعد ذلك يكون هناك تواصل مع العملاء و التاكد من التزام العامل بالعمل واخلاقيات العمل .</li><br>
<li>   يقوم العامل بابراز بطاقته الشخصيه للتأكد من ان العامل هو من قام باستقبال الاتصال من العميل و يقوم بتقديم استماره للعميل عند انجاز العمل لتقييم العمل من طرف العميل و يعيد العامل هذه الستماره للمؤسسه لتقييم جودة اداء العامل . </li><br>
<li>نقوم بعد ذلك بتحديث هذا الموقع طبقا لاداء العامل ... من هنا يشعر العامل ان اداءه يقيم و يحاول ان يحافظ على ان يكون مرشح من قبل المؤسسه فيحصل على المزيد من العمل .</li><br>
</h4>
 <%= image_tag "steps.png", :style => "width:750px;height:500px"%>

</div>
</div>
