@import "bootstrap";
// 
// 

// body {
  // padding-top: 50px;
  // padding-bottom: 20px;
// }



html{
  overflow-y:scroll;
  direction:  rtl;
}

body {
  // background-image: url('xaml4.png');
  //background-size: 1000px 700px;
  //background-repeat: no-repeat;
}


table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
td ,th{
    padding: 15px;
}
.comment{
  display: block;  
}
textarea {
  width:550px;
  height:50px;
}

// .container-fluid {
  // .row{
    // margin-left: 40px;
    // margin-right:40px;
    // border: 1px solid #888;
    // border-radius:3px;
  // }
// }
strong{
    display: block;
  }
 .navbar{
    background-color:   #05006E;
    background-image: linear-gradient(Teal);
    background-repeat: repeat-x;
    border: 1px solid gray;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar .nav > li > a, .navbar .nav > li > a {
color:          gray;
text-shadow:    black;
font-size: 20px
}

