<div class="container">
	<div class="well">
<p>مرحبا  <%= @resource.email %>!</p>


<p>طلب احد رابط لتغيير كلمة المرور. يمكنك فعل هذا من خلاال الرابط أدناه</p>

<p><%= link_to 'تغيير كلمة المرور', edit_password_url(@resource, reset_password_token: @token) %></p>


<p>تجاهل هذا البريد الالكتروني ان لم تطلب هذا </p>

<p>لن يتم تغيير كلمة المرور حتي تقوم بالدخول الي الرابط اعلاه و انشاء اخري جديدة </p>
</div></div>
