<p>مرحبا  <%= @resource.email %>!</p>


<p>طلب احد لينك لتغيير كلمة المرور. يمكنك فعل هذا من خلاال اللينك الاسفل</p>

<p><%= link_to 'تغيير كلمة المرور', edit_password_url(@resource, reset_password_token: @token) %></p>


<p>تجاهل هذا البريد الالكتروني ان لم تطلب هذا </p>

<p>لن يتم تغيير كلمة المرور حتي تقوم بالدخول الي اللينك الاعلي و انشاء اخري جديدة </p>
